#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 78%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;

}
img{
    width:103%;
    height: 270px;

}
.div{
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
button{
    background-color: white;
    border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
}
button:hover{
    background-color: black;
    color: white;
}